<div class="grid gap-5 text-center">
  <div>
    <ng-icon name="heroCheckCircle" size="100" color="green"></ng-icon>
    <h3>Order Successful!</h3>
    <p>Thank you for your purchase.</p>
  </div>

  <div>
    <p>Order Number</p>
    <div>ORD-12345-ABCDE</div>
  </div>

  <hr />

  <table class="text-left">
    <tbody>
      <tr>
        <td>Estimated Delivery</td>
        <td>Sep 15, 2023</td>
      </tr>
      <tr>
        <td>Confirmation Email</td>
        <td>
          A confirmation email has been sent to your registered email address.
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <a routerLink="/" class="rounded bg-green-500 px-8 py-3 text-white">
      Return Home
    </a>
  </div>
</div>
