<div class="flex min-h-screen items-center justify-center bg-gray-200">
  <div class="w-full max-w-5xl rounded-lg bg-white p-8 shadow-lg">
    <div class="mb-6 flex items-center justify-between">
      @if (currentUser.id > 0) {
        <div>
          <h1 class="text-2xl font-bold">
            Salam, {{ currentUser.name }} {{ currentUser.surname }}
          </h1>
          <hr />
          <!-- <Button asChild class="mt-5">
          <a href="https://sayartech.vercel.app/"> Browser in another way </a>
        </Button> -->
        </div>
        <ng-icon name="heroBell" class="h-6 w-6 text-gray-500"></ng-icon>
      }
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
