<div class="mb-6 flex items-center justify-between">
  <h2 class="text-xl font-semibold">Browse by brand</h2>
  <a href="#" class="text-green-600"> Show more </a>
</div>
<div class="mb-6 flex items-center gap-6">
  @for (vendor of vendors; track $index) {
    <div
      class="flex cursor-pointer flex-col items-center rounded border px-10 py-5 transition-all hover:shadow"
    >
      <img
        src="{{ vendor.imgUrl }}"
        alt="BMW"
        class="mb-2 h-14 w-14 bg-white"
      />
      <p>{{ vendor.engName }}</p>
    </div>
  }
</div>
<div class="mb-6 rounded-lg bg-green-500 p-6 text-white">
  <h3 class="text-xl">Discount</h3>
  <p class="text-5xl font-bold">20%</p>
  <p>On the cart set, including installation and alignment</p>
</div>
<div class="mb-6 flex items-center justify-between">
  <h2 class="text-xl font-semibold">Rent type</h2>
</div>
<div class="mb-6 grid grid-cols-3 gap-6">
  <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4">
    <ng-icon name="heroClock" class="mb-2" size="24"></ng-icon>
    <p>Daily/Hourly</p>
  </div>
  <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4">
    <ng-icon name="heroCalendar" class="mb-2" size="24"></ng-icon>
    <p>Monthly</p>
  </div>
  <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4">
    <ng-icon name="heroPaperAirplane" class="mb-2" size="24"></ng-icon>
    <p>Airport</p>
  </div>
</div>
<div class="mb-6 flex items-center justify-between">
  <h2 class="text-xl font-semibold">Browse by Cars</h2>
  <a href="#" class="text-green-600"> Show more </a>
</div>
<div class="mb-6 flex items-center gap-6">
  @for (car of cars; track $index) {
    <a
      [routerLink]="['/duration', car.id]"
      class="rounded border p-5 text-center"
    >
      <img
        src="{{ car.imageUrl }}"
        alt="Sedan Toyota Camry"
        class="mb-2 h-24 w-24"
        width="80"
        height="80"
      />
      <div>{{ car.carVendor.engName }} - {{ car.engName }}</div>
    </a>
  }
</div>
